@use'../custom' as *;
@use'../components/mixins' as*;

.navbar-spacer{
    height: 100px;
}


.highlight {
    @include mixlight;
    border-radius: 5px;
    font-weight: bold; /* Make active link bold */
}

section {
    scroll-margin-top: 80px; /* Ensure section content isn't hidden */
}

.togg{
    display: none;
}

nav{
    position: fixed;
    @include mixgrad;
    box-shadow: -10px 0 5px rgba(0, 0, 0, 1);
    margin-bottom: 0;
    margin-top: 0;
    width: 100%; /* Full width */
    z-index: 998;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
    min-height: 80px;
}

nav li{
    border-radius: 5px;
    font-family:"Oxanium", sans-serif;
    font-size: 1rem;
    margin-right: 2rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li:last-child{
    margin-right: 1rem;
}

nav a{
    height: 100%;
    padding: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(237, 236, 243);
}

nav li:hover{
    @include mixlight;
}

.logon{
    margin-right: auto;
    max-height: 100%;
    max-width: 200px;

    img{
        max-width: 100%;

    }
}

.sidebar {
    padding: 1rem;
    top: 0;
    right: 0;
    margin-bottom: 0;
    position: fixed;
    height: 100vh;
    width: 250px; 
    background-color: rgba(12, 9, 18, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none; /* This will be controlled by JavaScript */
 }
 
 .sidebar li {
   width: 100%;
 }
 
 .sidebar a {
   width: 100%;
 }
 
 @media(max-width:500px){
    .sidebar{
        width: 100%;
    }

    nav li{
        font-size: 2rem;
        font-weight: 500;
    }

    nav a{
        color: rgb(255, 255, 255);
    }

   
 }

 @media(max-width: 800px) {
    .HideOnMobile{
    display: none;
    }

    .togg{
        display: block;
    }
 }

 .button-container{
    display: flex;
 }